{% extends "layout.html" %}
{% block content %}
<div class="content-wrap">
    <div class="content-section">
        <form method="POST" action="" id="post-form">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ name }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid", id="post-title", maxlength="100") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(class="form-control form-control-lg", id="post-title", maxlength="100") }}
                    <small id="title-length-warning" class="text-muted">Maximum 100 characters.</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid", id="post-content") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.content(class="form-control form-control-lg", id="post-content") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
        </small>
    </div>
</div>

<!-- JavaScript for Unsaved Changes Warning -->
<script src="{{ url_for('static', filename='js/create_post.js') }}"></script>
{% endblock content %}
