<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="TaiPham - Blog Website" />
  <meta name="description" content="This is a blog html made by Coding TaiPham" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="../static/pics/BlogIcon.png">

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='about.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='cursor.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  
  <link href="{{ url_for('static',filename ='footer.css') }}" rel="stylesheet">
  {% if title %}
  <title>
    Tai's Blog - {{title}}
  </title>
  {% else %}
  <title>Tai's Blog</title>
  {% endif %}

  <!-- Preload images -->
  <link rel="Preload" as="image" href="../static/pics/logo.png" />
</head>

<body>
  <header class="header" data-header>
    <div class="container">
      <a href="#" class="logo">
        <img width="119" height="37" src="../static/pics/logo.png" alt="Tai logo" />
      </a>
  
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="#" class="logo"><img width="119" height="37" src="../static/pics/logo.png" alt="Tai logo" /></a>
  
          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>
  
        <ul class="navbar-list">
          <li><a href="{{ url_for('main.home') }}" class="nav-item nav-link" data-nav-toggler>Home</a></li>
          <li><a href="{{ url_for('main.about') }}" class="nav-item nav-link" data-nav-toggler>About</a></li>
          <li><a href="{{ url_for('posts.new_post') }}" class="nav-item nav-link" data-nav-toggler>Create Post</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('users.account') }}" class="nav-item nav-link" data-nav-toggler>Account</a></li>
          <li><a href="{{ url_for('users.logout') }}" class="nav-item nav-link" data-nav-toggler>Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('users.login') }}" class="nav-item nav-link" data-nav-toggler>Login</a></li>
          <li><a href="{{ url_for('users.register') }}" class="nav-item nav-link" data-nav-toggler>Register</a></li>
          {% endif %}
          {% if current_user.is_authenticated and current_user.status == Status.ADMIN %}
          <li><a href="{{ url_for('admin.index') }}" class="nav-item nav-link" data-nav-toggler>Admin</a></li>
          {% endif %}
          <li><a id="icon"><i class='bx bx-sun nav-item nav-link'></i></a></li>
        </ul>
  
        {% if current_user.is_authenticated %}
        <div class="navbar-bottom">
          <div class="profile-card">
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" class="profile-banner"
              width="48" height="48" alt="TaiPham" />
            <div>
              <p class="card-title">Hello {{ current_user.user_name }} !</p>
              <p class="card-subtitle">You have some new messages</p>
            </div>
          </div>
  
          <ul class="link-list">
            <li><a href="{{ url_for('main.about') }}" class="navbar-bottom-link nav-link">Profile </a></li>
            <li><a href="{{ url_for('users.user_posts', username = current_user.user_name)}}"
                class="navbar-bottom-link nav-link">Articles Saved </a></li>
            <li><a href="{{ url_for('posts.new_post') }}" class="navbar-bottom-link nav-link">Add New Post </a></li>
            <li><a href="{{ url_for('main.home') }}" class="navbar-bottom-link nav-link">My Likes </a></li>
            <li><a href="{{ url_for('users.account') }}" class="navbar-bottom-link nav-link">Account Setting </a></li>
            <li><a href="{{ url_for('users.logout') }}" class="navbar-bottom-link nav-link">Sign Out </a></li>
          </ul>
        </div>
        {% endif %}
  
        <p class="copyright-text">Copyright 2025 © TaiPham - Blog. Developed by coding Tai Pham</p>
      </nav>
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>
    </div>
  </header>

  <main role="main" class="container">
    <div class="row">
      <div class="{% if request.endpoint == 'main.about' %}col-md-12{% else %}col-md-8{% endif %}">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert -{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
      </div>

      {% if request.endpoint != 'main.about' %}
      <div class="col-md-4">
        <div class="content-section">
          <h3>Infor</h3>
          <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
          </p>
        </div>
      </div>
      {% endif %}
    </div>
  </main>

  <footer class="footer">
    <div class="footer-text">
        <p>&copy; Designed by Tai Pham</p>
    </div>

    <div class="footer-iconTop">
        <a href="#" class="social-btn">
          <i class='bx bx-up-arrow-alt'></i></a>
    </div>
  </footer>

  <div class="cursor"></div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cursor.js') }}"></script>
</body>

</html>